@import 'https://fonts.googleapis.com/css?family=Bubblegum+Sans|Open+Sans';

// Colors
$body-bg: #AA6939; //light brown
$main-bg: #97D38D; //light green
$med-green: #1E6912;

// Fonts
$heading: "Bubblegum Sans";
$paragraph: "Open Sans";

body {
	background-color: $body-bg;
	font-family: $paragraph;
}

header {
	color: white;
	font-family: $heading;
	font-size: 2em;
	text-align: center;
}

main {
	background-color: $main-bg;
	display: flex;
	flex-flow: column wrap;
	margin: 0 auto;
	max-width: 70%;
	padding: 2em;

	button {
		background-color: $med-green;
		color: white;
		font-family: $paragraph;
		font-size: 1.3em;
		padding: 1.5em 3em;
	}

	#container-pig {
		align-self: center;
		align-items: center;
		display: flex;
		flex-flow: column wrap;
		width: 80%;

		div {
			align-items: center;
			display: flex;
			flex-flow: row wrap;
		}

		h2 {
			font-family: $heading;
			text-transform: capitalize;
			flex: 1 10%;
		}

		p {
			flex: 1 10%;
		}
	}
}

div {
	display: none;
}